<div block="page">
  <div class="container flex">
    <div block="card" mod="full">
      <div elem="poster">
        <div block="big-logo"></div>
      </div>
      <div elem="header">
        Header
      </div>
      <div elem="body">
        Description

        <div class="mt+">
          <ui-btn ng-if="!$user.logged" type="primary" ui-sref="sign-up">JOIN US!</ui-btn>
          <div ng-if="$user.logged">Thank you to be with us!</div>
        </div>
      </div>
    </div>
    <div block="card">
      <div elem="header">
        <h1>Landing Page</h1>
      </div>
      <div elem="body">
        Content
      </div>
    </div>
  </div>
</div>
